// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.none{
	display: none;
}
.button-ios, .button-md{
    border-radius: 22px;
}

.label-green-center{
    color: #41c192 !important;
    text-align: center;
}

.label-gray-center{
    color: #999 !important;
    text-align: center;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md, .label-ios {
    color: #999; 
}